html, body {
 margin: 0;
 padding: 0;
text-align: center;
    
}

body {
 /* background-color: white; */
 font-family: Verdana, sans-serif; 
 font-size: 100%;
 }

header#top{
    background-color: #e66065;
    
}
div#bordleft {
    width: 35px;
    height: 100%;
    background-color: #b19f9d;
    left: 0%;
    top: 0%;
    position:absolute;
    border-style: solid;
    border-width: 0px;
    border-right-width: 4px;
    border-color: black;
}
div#bordright {
    width: 35px;
    height: 100%;
    background-color: #b19f9d;
    right: 0%;
    top: 0%;
    position:absolute;
    border-style: solid;
    border-width: 0px;
    border-left-width: 4px;
    border-color: black;
}
div#bordbot {
    height: 25%;
    width: 94.5%;
    margin-left: 2.75%;
    background-color: #b19f9d;
    bottom: 0%;
    position:absolute;
    border-style: solid;
    border-width: 0px;
    border-top-width: 4px;
    border-color: black;
}
video {
 width : auto;
}
h1 {
 font-size: 200%; 
 color: white; 
 text-align: center;
 padding-top: 0.5%;
 }
h2 {
 font-size: 150%; 
 color: white; 
 text-align: center;
 background-color:#743459;
 height: 50px;
 padding-top: 1%;
 }
h3 {
 font-size: 150%; 
 color: black; 
 text-align: center;
}
h3#score {
    margin-left: 80%;
    position:absolute;
    font-family: "Arial", sans-serif;
    border-width: 5px;
}
input.btn {
    margin: 0.5rem auto auto auto;
    display: flex;
}
button.btn-primary {
    padding: 15px 24px;
    margin-top: 1rem;
    margin: auto;
    display: flex;
    font-weight:700;
    border-radius: 300px;
    /* border : 2.5px solid #484747; */
    font-family: "Arial", sans-serif;
    font-size: 45px;
}
button.btn-primary {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button.btn-dark {
    
}
button.btn-dark {
    
}
button.btn-dark {
    
}
div#resultat {
    font-size: 20px;
    margin-top: 0.5rem;
}
div#bas {
    text-align: center;
}
div#espace {
    padding: 12.55%;
}
div#suivantimg {
    margin-left: 76%;
    margin-top: 10%;
    position:fixed;
    transform: rotate(-27deg);
}
div#suivanttxt {
    margin-left: 77.2%;
    margin-top: 14.8%;
    position:fixed;
    color: white;
    font-size: 128%;
    font-family: "Arial", sans-serif;
}
div#son {
    left: 4.5%;
    /* position: absolute; */
    border: 4px;
    /*border-style: solid;
    padding: 50px;*/
}
div#son audio {
    margin: auto;
    display: flex;
    margin: 1rem auto 1rem auto;
}

h4 {
 font-size: 100%; 
 color: black; 
 text-align: center;
 margin-left: 80%;
 position:fixed;
 font-family: "Arial", sans-serif;
 border-width: 5px;
}
iframe#musique {
    margin: auto;
    display: flex;
    width: 100%;
}
.btn.btn-info {
    display: none;
    margin: 1rem auto 0 auto;
    width: 50%;
}
.title-index {
    margin-top: 2rem;
    font-size: 25px;
}
.btn-green {
    background-color: rgb(87, 223, 87) !important;
}
.btn-pink {
    background-color: rgb(241, 125, 183) !important;
}
div.d-flex {
    margin-top: 5rem;
}
div.d-flex input {
    margin: auto;
    padding: 1.5rem !important;
    font-size: 22px;
}
#selector-green, #selector-pink {
    display: none;
}
#selector-green a, #selector-pink a {
    margin: 1rem auto 0 auto;
    width: 30%;
}
.selectpicker {
    margin: 3rem auto 0 auto;
    padding: 0.7rem;
}